.pixel-img, .filter {
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    image-rendering: pixelated;
}

.pixel-img {
    width: 100%;
}

.filter {
    position: absolute;
    width: 29%;
    aspect-ratio: 1 / 1;
    top: -4.17%;
    left: -4.17%;
}

.cnn-wrapper {
    position: relative;
    padding: 0;
    margin: 25px auto 25px auto;
    width: 24%;
    aspect-ratio: 1 / 1;
    max-height: 168px;
}

.cnn-canvas {
    background: #191919;
    width: 20%;
    aspect-ratio: 1/1;
}

.filter-sample {
    width: 20%;
}

.animation-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}